
@{
    ViewBag.Title = "Index";

    string nombreCompleto = (string)Session["nombreCompleto"];
}

<h2>Bienvenido @nombreCompleto</h2>

<div class="row">
    <div class="col-12">
        En este sistema podra administrar sus datos e información de su consultorio odontologico, desde cualquier dispositivo.
    </div>
    <br /><br />
    <div class="col-md-6 text-center img-fluid">
        <img src="~/img/welcomeLogin.png" style="height: auto; max-width: 50%;" />
    </div>
</div>
