@using AppConsultorio.Models
@model List<PaginaCLS>
@{
    ViewBag.Title = "Pagina";
}

<h2>Index</h2>

<div class="table-responsive-md">

    <table class="table table-responsive-md table-striped table-hover">

        <thead class="thead-dark">
            <tr>
                <th>Id Página</th>
                <th>Título del link</th>
                <th>Acción</th>
                <th>Controlador</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.idPagina</td>
                <td>@item.mensaje</td>
                <td>@item.accion</td>
                <td>@item.controlador</td>
            </tr>
            }

        </tbody>

    </table>

</div>